print("-----welcome to mark's coffee-----\n")
menu = int(input("Please type 1 to show menu: "))
ls = []
if menu == 1:
    print("\n----Choose the menu-----")
    coffee = ['Espresso', 'Cappucino', 'Latte']
    typ = ['Hot', 'Cold']
    price = [55,60] 
    print("1. %s\n2. %s\n3. %s\n"% (coffee[0],coffee[1],coffee[2]))
    select = int(input("Select coffee: "))
    print("\n----Choose the type of the coffee-----")
    print("1. %s %d baht\n2. %s %d baht\n"% (typ[0],price[0],typ[1],price[1]))
    select2 = int(input("select type: "))
    if select == 1:
        ls.append(coffee[0])
        ls.append(coffee[1])
        ls.append(coffee[2])
        if select2 == 1:
            print("----you chose %s %s %d bath----"%(typ[0],ls[0],price[0]))
            money = int(input("\nInput your money: "))
            if money > price[0]:
                print("You recived a change of %d bath"% (money - price[0]))
                print("----Thank You----")
            else:
                print("Not enough money\n----please try again----")
        else:
            print("----you chose %s %s %d bath----"%(typ[1],ls[0],price[1]))
            money = int(input("\nInput your money: "))
            if money > price[1]:
                print("You recived a change of %d bath"% (money - price[1]))
                print("----Thank You----")
            else:
                print("Not enough money\n----please try again----")          
    elif select == 2:
        ls.append(coffee[0])
        ls.append(coffee[1])
        ls.append(coffee[2])        
        if select2 == 1:
            print("----you chose %s %s %d bath----"%(typ[0],ls[1],price[0]))
            money = int(input("\nInput your money: "))
            if money > price[0]:
                print("You recived a change of %d bath"% (money - price[0]))
                print("----Thank You----")
            else:
                print("Not enough money\n----please try again----")            
        else:
            print("----you chose %s %s %d bath----"%(typ[1],ls[1],price[1]))
            money = int(input("\nInput your money: "))
            print("You recived a change of %d bath"% (money - price[1]))
            print("----Thank You----")
            if money > price[1]:
                print("You recived a change of %d bath"% (money - price[1]))
                print("----Thank You----")
            else:
                print("Not enough money\n----please try again----")             
    else:
        ls.append(coffee[0])
        ls.append(coffee[1])
        ls.append(coffee[2])        
        if select2 == 1:
            print("----you chose %s %s %d bath----"%(typ[0],ls[2],price[0]))
            money = int(input("\nInput your money: "))
            if money > price[0]:
                print("You recived a change of %d bath"% (money - price[0]))
                print("----Thank You----")
            else:
                print("Not enough money\n----please try again----")          
        else:
            print("----you chose %s %s %d bath----"%(typ[1],ls[2],price[1]))
            money = int(input("\nInput your money: "))
            print("You recived a change of %d bath"% (money - price[1]))
            print("----Thank You----")
            if money > price[1]:
                print("You recived a change of %d bath"% (money - price[1]))
                print("----Thank You----")
            else:
                print("Not enough money\n----please try again----")             
else:
    print("sorry, something went wrong")
